<header class="navbar navbar-fixed-top navbar-dark" style="background-color: black">
  <div class="container">
    <%= link_to "Simple Events", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Sign out", logout_path, method: :delete %></li>
          <li><%= link_to "Your Events", profile_path %></li>
          <li><%= link_to "Create New Event", create_path %></li>
        <% else %>
          <li><%= link_to "Sign in", login_path  %></li>
        <% end %>
       </ul>
    </nav>
  </div>
</header>