<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
  <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{message_type}" %>
      <% end %>
    <%= yield %>
      <% if Rails.env.development? %>
    <%= debug(params) %>
    <% unless current_user.nil? %>
      <%= debug(current_user.username) %>
    <% end %>
        <% end %>
    </div>
  </body>
</html>
